* {
	margin: 15;
	padding: 15;
}

body {
	background-color: #e5e8e8;
	color: #4e545c;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}




.profile-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
}

.profile-photo img {
	height: 15rem;
}



footer {
	width: 100%;
	background-color: #4e545c;
	padding: 8px;
	color: #e5e8e8;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 400;
}

figure {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	display: flex;
	justify-content: center;
	align-items: center;
}