@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 5;
	padding: 5;
}

body {
	background-color: #e5e8e8;
	color: #4e545c;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

main {
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.profile-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
}

.profile-photo img {
	height: 15rem;
}

button {
	font-size: 20px;
	position: relative;
	border-radius: 40px;
	border: none;
	height: 75px;
	width: 390px;
	border: solid;
	text-decoration: none;
	color: #e5e8e8;
	border: 1px solid #f1eeee;
	border-radius: 80px;
	background-color: #4e545c;
	text-decoration: none;
	min-width: 10rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .5s ease-in-out;
}

button:hover {
    background-color: #000401;
}

footer {
	width: 100%;
	background-color: #4e545c;
	padding: 8px;
	color: #e5e8e8;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 400;
}

figure {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
}

h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
}

@media screen and (min-width: 640px) {
	body {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 768px) {
	body {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 960px) {
	body {
		display: grid;
		grid-template-columns: 1fr;
	}
}